body {
  margin: 0;

}
.container-login {
  background-color:green !important;
  display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.color-nav{
  background-color:darkblue;
  color: white;
}
.color-nav-link{
  background-color: darkblue;
  font-size: 16;
  color: white;
}

.btn-primary {
  background: darkblue !important;
  background-color: darkblue !important;
  color: rgba(255, 255, 255, 0.9) !important;
  border: 2px solid darkblue !important;
  border-radius: 6px !important;
  font-size: 14 !important;
  padding: 5px 10px !important;
  margin: 5px !important;
}

.mt-0 {
  margin-top: 4px !important;
}

.title-primary {
  background-color:green !important;
  color: rgba(255, 255, 255, 1.0) !important;
  font-size: 14 !important;
  padding: 5px 10px !important;
  margin: 5px !important;
}


